<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Status Checker</title>
</head>
<body>
<div>
    <form th:action="@{'/status_checker/add'}" method="post">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="url" placeholder="url">
        <button type="submit" style="padding: 7px; background-color: cornsilk; border: 1px solid black; color:  purple; font-weight: bold;">Create</button>
    </form>
</div>

</body>
</html>